index.number_of_shards: 1
index.number_of_replicas: 0

cluster.name: {{ es['cluster'] }}
index.fielddata.cache: node
indices.fielddata.cache.size: 40%
gateway.type: local
zen.ping.multicast: false

http.cors.enabled : true  
http.cors.allow-origin : "*"
http.cors.allow-methods : OPTIONS, HEAD, GET, POST, PUT, DELETE
http.cors.allow-headers : X-Requested-With,X-Auth-Token,Content-Type, Content-Length
